.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  max-width: 1440px;
  z-index: 1000;
  transition: background-color 0.5s ease-in-out;
}

.modal-container.active {
  background-color: var(--color-darken);
}

.modal {
  position: relative;
  width: 460px;
  min-width: 320px;
  padding: 40px 40px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  background-color: var(--color-white);
  transform: translateX(150%);
  transition: transform 0.5s ease-in-out;
}

.modal-container.active .modal {
  transform: translateX(0%);
}

.modal-header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal-heading {
  font-size: 24px;
}

.close-btn#modal {
  position: absolute;
  top: 10px;
  right: 2px;
  flex-shrink: 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-main,
.form-select {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-select {
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-footer {
  margin-top: 82px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-caption,
.modal-caption,
.form-label {
  color: var(--color-dark60);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal-caption {
  flex-grow: 1;
}

.form-label {
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  height: 48px;
  transform: scale(1);
  background-color: var(--color-dark10);
  color: var(--color-dark);
  transition: all 0.5s ease-in-out;
}

.form-input:hover {
  transform: scale(1.02);
}

.form-input:focus {
  transform: scale(1.02);
  outline: none;
  border: none;
}

.form-select label {
  display: flex;
  gap: 10px;
  color: var(--color-dark);
}

.modal-compound{
  position: relative;
  margin: auto;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.compound-modal-image{
  position: relative;
  width: 100%;
}

.modal-container.active .modal-compound{
  opacity: 1;
}

@media screen and (max-width: 440px) {

  .modal{
    padding: 20px 20px 100px;
  }
}